.about-me__content {
    max-width: 1037px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
}

.mini-logo {
    width: 101px;
    height: 101px;
    position: relative;
    flex-shrink: 0;
}

.mini-logo__image {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    

    &--bottom-image {
        background-color: rgba(240, 227, 202, 0.76);
        transform: translate(-50%, -50%) rotate(0deg);
        animation: rotate 5s linear infinite;
    }

    &--top-image {
        background-color: rgb(255, 131, 3, 0.82);
        transform: translate(-50%, -50%) rotate(-51.88deg);
        animation: rotate 3s ease-in-out infinite;
    }

}

.about-me__description {
    font-size: 24px;
    max-width: 904px;
    color: $fontColor;
}

.chars {
    overflow: hidden;
}

@media(max-width: 768px) {
    .about-me__content {
        flex-direction: column;
    }
}



