
.footer {
    height: 100px;
}

.footer__content {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}

.footer__message {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    row-gap: 20px;
}

.footer__text {
    color: $fontColor;
    
}

.footer__contacts {
    .context-title {
        text-align: left;
        margin-bottom: 16px;
    }
    
}


.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-list__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
}

.contacts-list__wrapper-icon {
    width: 32px;
    height: 32px;
}

.contacts-list__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: $fontColor;
}

@media (hover: hover) {
    .contacts-list__link:hover{
        .contacts-list__icon {
            fill: $contextColor;
        }
    }
}

.contacts-list__text {
    color: $fontColor;
}

@media(max-width: 768px){
    .footer__content {
        gap: 32px;
    }

    .footer__message {
        max-width: 100%;
    }
}

@media(max-width: 580px) {
    .footer__content {
        flex-direction: column;
    }

    .contacts-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}