.header {
    background-color: #ffffff00;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &.link {
        background-color: green;
    }


    &__content {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 20.5px 0;

        @media(max-width: 768px) {
            flex-direction: column;
            gap: 16px;
            padding: 16px 0;
        }

        @media(max-width: 600px) {
            flex-direction: row;
        }

        .burger, 
        .logo {
            z-index: 2;
        }
    }       

}

@media(max-width: 600px) {
    .menu {
        position: absolute;
        top: -100vh;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        background-color: $backgroundMain;
        transition: 0.6s;

        &.open {
            transform: translateY(100vh);

        }

    }
    
}

.header-list {
    display: flex;
    gap: 64px;

    @media(max-width: 600px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

.anchor-link {
    color: $fontColor;
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    @include hover-link($contextColor);
}



