.projects {
}
.container {
}

.projects__content {
    padding: 64px 0;
    .context-title {
        margin-bottom: 32px;
    }
}

.projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.projects-list__item {
    
}
.project-card {
    height: 320px;
    width: 320px;
    position: relative;
    overflow: hidden;
}
.project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-card__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: $cardColorTransparent;
    transition: 0.2s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40.5px 5px;
    backdrop-filter: blur(2px);

    .context-title {
        margin-bottom: 16px;
    }
}
.project-card:hover {
    .project-card__info {
        top: 0px;
    }
}
.project-card__hero {
    max-width: 200px;
    padding: 16px 0 16px;
    border-bottom: 1px solid $contextColor;
}
.project-card__stack {
    font-weight: 500;
    font-size: 16px;
    color: $fontColor;
}
.project-card__description {
    padding: 16px 0 16px;
}
.project-card__specification {
    font-weight: 400;
    font-size: 16px;
    color: $fontColor;
    margin-bottom: 16px;

}
.project-card__link {
    background-color: $cardColor;
    color: $fontColor;
    text-decoration: none;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    &:hover {
        border-color: $contextColor;
    }
}

