.hero {
    max-width: 448px;
}
.hero__title {
    font-size: 64px;
    font-weight: 900;
    color: $contextColor;
    margin-bottom: 13px;

}
.hero__subtitle {
    font-size: 40px;
    font-weight: 700;
    color: $fontColor;
    margin-bottom: 14px;
}
.hero__description {
    font-size: 20px;
    font-weight: 400;
    color: $fontColor; 
}

@media(max-width: 500px) {
    .hero__title {
        font-size: 40px;
    }
    .hero__subtitle {
        font-size: 32px;
    }
    .hero__description {
        font-size: 24px;
    }
}
