.slider {
    margin: 0 auto;
    max-width: 80%;
    position: relative;
}


.slider__slide {
    min-width: 100%;
    background-color: #1f1e1b;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 30px;
    align-items: center;
}

.slider__image-container {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 100%;
}

.slider__reviewer {
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.slider__image-container--pavel-viktor {
    background-image: url(../img/pavel_vikrot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.slider__image-container--magnus-karlsen {
    background-image: url(../img/magnus_karlsen.png);
}

.slider__image-container--dmitry-petrov {
    background-image: url(../img/dmitry_petrov.png);
}

.slider__title {
    color: white;
    font-size: 28px;
}

.slider__review-paragraph {
    color: white;
    font-size: 18px;
}

.wrapper-hidden {
    overflow: hidden;
}

.track {
    display: flex;
    gap: 50px;
    transition: 0.5s
}

.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    display: flex;
    gap: 5px;
}

.button-pagination {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #f0e3ca; 
    border-radius: 100%;
    transition: 0.3s;
}

.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.left-arrow {
    left: -50px;
}

.right-arrow {
    right: -50px;
}

.arrow__svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow__path {
    fill: #f0e3ca;
    transition: 0.2s;
}

@media(hover:hover) {
    .arrow:hover .arrow__path {
        fill: #ff8303;
    }
}

@media(max-width: 600px) {
    .arrow {
        display: none;
    }
    .slider {
        max-width: 100%;
    }
}

@media(max-width: 550px) {
    .slider__slide {
        flex-direction: column;
    }

    .reviewer {
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
    }

    .image-container {
    width: 50px;
    height: 50px;
    }
}

.arrow:active .arrow__path{
    fill: #ff8303;
}
.button-pagination.active {
    border-color: #ff8303;
    transform: scale(1.5);
}